<div class="jumbotron">
    <div class="container text-center">
      <h1>HR System</h1>      
      <p>Manage The Entire Employee Lifecycle Through Our Global HR Platform.</p>
    </div>
  </div>
    
  <div class="container-fluid bg-3 text-center">    
    <h3>Platforms</h3><br>
    <div class="row">
      <div class="col-sm-3">
        <p>SLACK</p>
        <img src="https://upload.wikimedia.org/wikipedia/commons/d/d5/Slack_icon_2019.svg"  class="img-responsive" style="width:50%; height:50%;" alt="Image">
      </div>
      <div class="col-sm-3"> 
        <p>Web Application</p>
      </div>
      <div class="col-sm-3"> 
        <p>Mobile App</p>
      </div>
      <div class="col-sm-3">
        <p>Comming Soon ...</p>
      </div>
    </div>
  </div><br>
  
<br><br>
  
  <footer class="container-fluid text-center">
    <p>Contact Us</p>
    <div class="footer">
        <a href="https://www.facebook.com/"><i class="fab fa-facebook-square"></i></a>
        <a href="https://twitter.com/"><i class="fab fa-twitter-square"></i></a>
        <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
        <a href="https://www.linkedin.com/"><i class="fab fa-linkedin"></i></a>
    </div>
  </footer>
  